version: '3.7'
services:
   elmond:         
       image: perfsonar/elmond:latest
       env_file: .env
       build:
          context: elmond
          dockerfile: Dockerfile
   pselastic_setup:         
       image: perfsonar/pselastic_setup:latest
       env_file: .env
       build:
          context: pselastic_setup
          dockerfile: Dockerfile
   grafana:         
       image: perfsonar/grafana:latest
       env_file: .env
       build:
          context: grafana
          dockerfile: Dockerfile
