#Elmond configuration directory
ELMOND_ROOT=/etc/elmond

#Point pselastic_setup at elasticsearch server
PSELASTIC_URL=http://10.7.7.7/elastic
PSELASTIC_LOGIN_FILE=/etc/perfsonar/elastic/elastic_login

## Logstash Log level
#LOG_LEVEL=debug
